$color-dark: #545149;
$color-light: #fff;
$color-main: #4056A1;
$color-alt: #40a18b;
$color-highlight: lightblue;
$color-alert: red;

$font-main: "source sans 3", sans-serif;
$font-alt: "Bungee", sans-serif;

$desktop: 1024px;
$tablet: 768px;
$mobile: 480px;

$between: space-between;
$center: center;