.hero{
  height: 520px;
  width: 100%;
  padding-top: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/brushed-alum.png");
}

@media only screen and (min-width: 1024px){
  .hero{
    height: auto;
    width: 85%;
    padding: 25px;
    margin: 0 auto;
  }
}