nav{
  position: fixed;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #fff;
  padding: 0 1.5em;
  justify-content: space-between;
  align-items: center;
}

.nav-text .icon{
  color: red;
  display: block;
  text-align: center;
}