@use "../variables" as *;
@use "../mixins" as *;

#error{
  @include flex-position($center, $center);
  gap: 15px;
  border: 4px solid $color-alert;
  color: $color-alert;
  padding: 10px;
  margin-bottom: 30px;

  p{
    margin: 0;
  }
}