@use "../variables" as *;
@use "../mixins" as *;

/* ----- HEADER CONTAINER ----- */ 
.header{
  height: 400px;
  padding-top: 120px;
  @include min-width($desktop){
    padding-top: unset;
  }

  .hero{
    height: 100%;
    width: 100%;
    flex-direction: column;
    @include flex-position($center, $center);
    padding: 1.5em;
    background-image: url("../../images/brushed-alum.png");
  
    > div{
      text-align: center;
      vertical-align: middle;
    }

    img{
      width: 90%;
      height: 90%;
      object-fit: cover;
    }
  }
}