@use "../variables" as *;
@use "../mixins" as *;
/* ----- LAYOUT AND GLOBAL DESIGN ELEMENTS ----- */ 

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $color-dark;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: $font-main;
  @include min-width($desktop){
    display: flex;
  }
}

.flex{
  display: flex;
}

.background{
  &-main{
    background-color: $color-main;
  }
  &-alt{
    background-color: $color-alt;
  }
}

a,
button{
  &:hover{
    cursor: pointer;
  }
}

.button{
  padding: 5px 10px;
  border: none;

  &-top{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    padding: 10px;

    &:hover{
      background-color: $color-highlight;
      color: $color-dark;
    }
  }
}

.shadow:hover{
  box-shadow: 5px 5px 0 0 $color-highlight;
}

.round{
  border-radius: 50%;
}

.container{
  max-width: 90vw;
  margin: 0 auto;
  background-color: inherit;
}

.header,
.container{
  @include min-width($desktop){
    margin: 0 auto;
    margin-top: 170px;
    width: 50vw;
    padding: 0 1rem;
  }
}

.border{
  border-width: 4px;
  border-style: solid;
}

// elements meant for screen reader only
.sr-only{
  visibility: hidden;
}
