@use "../variables" as *;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $color-dark;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: $font-main;
}
