@use "../variables" as *;

/* ----- TYPOGRAPHY ----- */ 

h2{
  margin: 0;
  font-weight: 300;
}

.bold{
  font-weight: 600;
}

.font-alt{
  font-family: $font-alt;
}

.text{
  &-alert{
    color: red;
  }
  &-light{
    color: $color-light;
  }
  &-main{
    color: $color-main;
  }
}